.vscode

crash-reports
downloads
extrabiomegen
local
logs
mods
modernfix
moonlight-global-datapacks
saves
screenshots
[Xx]aero*

datapacks
resourcepacks

config/worldedit

config/emi.css
config/openloader/resources/*
!config/openloader/resources/99_RaspberryResources
config/blockswap/known_states

kubejs/exported
kubejs/probe
kubejs/jsconfig.json
kubejs/README.txt

cherishedworlds-favorites.dat
emi.json
observable_announce
rhino.local.properties
usercache.json
usernamecache.json
win_event*
